p{
    font-family:'Times New Roman', Times, serif;
    margin-top: 0%;
    margin-bottom: 0%;
}
.description{ 
    display: inline-block;
    width: 240px;
    vertical-align:top;
}
.vp1{
    margin-top: 0%;
    font-weight: 500;
    margin-left: 9px;
    margin-bottom: 10px;
}
.vp2{
    margin-bottom: 3px;
}
.vp2,.vp3{
    font-size: 14px;
    margin-left: 9px;
}
body{
    padding-top:18px ;
    margin:0px;
}